.snowfall-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.snowflake {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  animation: fall linear infinite;
  animation-duration: 15s; /* Adjust the duration for slower speed */
}

@keyframes fall {
  to {
    transform: translateY(70vh);
  }
}
